<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="${url}"/><!-- ${url}を書いておかないとJava中でPropertiesで値を更新しても反映されない -->
        <property name="username" value="tracuser"/>
        <property name="password" value="cspiral"/>
        <property name="poolPingQuery" value="SELECT 1 FROM DUAL" />
        <property name="poolPingEnabled" value="true" />
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="jp/enpit/cloud/ritesavre/mybatis/TracMapper.xml"/>
  </mappers>
</configuration>
