<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Trac">


    <select id="getStartTime" parameterType="String" resultType="long">
        select ticket_change.time from ticket,ticket_change where milestone = #{milestone}
        and ticket.id = ticket_change.ticket and field= 'status' and newvalue= 'accepted' order by ticket_change.time asc limit 0,1;
    </select>

    <select id="getEndTime" parameterType="String" resultType="long">
        select due from milestone where name = #{milestone};
    </select>

</mapper>